<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><%= @cocktail.name %></h1>
      <ul class="list-unstyled">
        <% @doses.each do |dose| %>
          <li>
            <%= dose.description %> - <%= dose.ingredient.name %>
            <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-primary" %>
          </li>

        <% end %>
      </ul>
      <%= link_to "Back to list", cocktails_path, class: "btn btn-primary" %>
      <%= link_to "Add doses for this cocktail", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
    </div>
  </div>
</div>
