<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <h1><%= @cocktail.name %></h1>
      <%= image_tag @cocktail.picture.url(:medium) %>
      <ul class="list-unstyled">
        <% @doses.each do |dose| %>
          <li>
            <%= dose.description %> - <%= dose.ingredient.name %>
            <%= link_to "Delete dose", cocktail_dose_path(@cocktail, dose), method: :delete,
            data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </li>

        <% end %>
      </ul>
      <%= link_to "Back to list", cocktails_path, class: "btn btn-primary" %>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <h3>Add doses to this Cocktail</h3>
        <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.input :description, placeholder: "xx cl" %>
          <%= f.input :ingredient_id, collection: Ingredient.all , prompt: "Ingredients"  %>
          <%= f.button :submit, html: { class: "btn btn-primary-success"} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
